torch==2.1.0  # required to install audiocraft
librosa
tqdm
flake8
black
tiktoken==0.5.1
audiocraft==1.2.0 ; python_version >= "3.10" and python_version < "4.0" \
    --hash=sha256:4fa8af9bce9c97b7cd3b28fca8cf2e86408802c73103709559cfe04d1a3ec127
numpy
ninja
fastapi==0.110.0
uvicorn==0.29.0
tyro
deepfilternet
pydub
gradio
huggingface_hub
azure-core==1.29.7
azure-identity==1.15.0
azure-storage-blob==12.19.0
azure-storage-queue==12.9.0
nltk
attr